@font-face {
font-family: 'Source Sans Pro-EXTRAL-hjGXGcFS';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/92007eef-801d-47a9-b0e4-015e1ccbe454/sourcesanspro-extralight.woff') format('woff');
}