@font-face {
font-family: 'Source Sans Pro-SEMIBO-sVQfFLni';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/69d0bf80-d915-4ad3-a694-2f8f30d02669/sourcesanspro-semiboldit.woff') format('woff');
}