@font-face {
font-family: 'Source Sans Pro-LIGHTI-YZSGBCQO';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b249f404-9ffd-45a6-9576-cb24281867bd/sourcesanspro-lightit-1.woff') format('woff');
}