@font-face {
font-family: 'Source Sans Pro-BLACKI-259NYjZg';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/dac4a6ba-60cd-4c21-9a6a-54c96ccf69b3/sourcesanspro-blackit.woff') format('woff');
}