@font-face {
font-family: 'Source Sans Pro-BLACK-PR52b9CC';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/bddcb5f8-f986-415b-a81e-a3be50fa126c/sourcesanspro-black.woff') format('woff');
}