@font-face {
font-family: 'Source Sans Pro-BOLDIT-jpoliVWi';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/0934d27b-e0c4-4358-8716-7f067d0aaf2a/sourcesanspro-boldit.woff') format('woff');
}