@font-face {
font-family: 'Source Sans Pro-IT (1-K6ViM8Ck';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f0c48a9f-2aa4-45ce-80fa-ad14293493ab/sourcesanspro-it-1.woff') format('woff');
}