@font-face {
font-family: 'Source Sans Pro-EXTRAL-lAfUtsG0';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/8e99b3c7-7f94-4a99-bb4e-644e069540bc/sourcesanspro-extralightit.woff') format('woff');
}