@font-face {
font-family: 'Chronicle Display Ligh-jJNmyIYQ';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/93c24759-fb97-4db7-9fdc-988110310248/chronicledisp-lightital.woff') format('woff');
}