@font-face {
font-family: 'Source Sans Pro-SEMIBO-GKvKTlUi';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2e0cde24-1fd4-422f-9443-58b41998b224/sourcesanspro-semibold.woff') format('woff');
}