@font-face {
font-family: 'Source Sans Pro-REGULA-0FY9CIj8';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f996a010-6a30-42b6-ac49-5106c04cf816/sourcesanspro-regular-1.woff') format('woff');
}