@font-face {
font-family: 'Source Sans Pro-BOLDIT-VmqwtT7z';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/523e2434-6f34-40f4-928c-790f7e5df670/sourcesanspro-boldit-1.woff') format('woff');
}