@font-face {
font-family: 'Source Sans Pro-BLACK -faZ1EYbn';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f5b3b2a0-12cb-45b2-9116-3b09eebb93b1/sourcesanspro-black-1.woff') format('woff');
}