@font-face {
font-family: 'Source Sans Pro-BOLD-RxkmwWap';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6b4f4d16-1f1b-4af3-8735-e3984e889798/sourcesanspro-bold.woff') format('woff');
}