@font-face {
font-family: 'Source Sans Pro-IT-m4OCPhsZ';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/250c31c1-df1c-4599-833d-57fd305e3b69/sourcesanspro-it.woff') format('woff');
}