@font-face {
font-family: 'Source Sans Pro-BLACKI-RQFpfyYa';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/ba85d740-1b78-4464-80b1-1e4d5ca00519/sourcesanspro-blackit-1.woff') format('woff');
}