@font-face {
font-family: 'Source Sans Pro-EXTRAL-Mw72RTms';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c6c8db63-5553-49c3-be01-4eacce3d6183/sourcesanspro-extralightit-1.woff') format('woff');
}