@font-face {
font-family: 'Source Sans Pro-SEMIBO-6y1NtMlq';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f4d2fa2c-fb4e-47e4-bb0a-c5d11aad8ddd/sourcesanspro-semiboldit-1.woff') format('woff');
}