@font-face {
font-family: 'Chronicle Display Ligh-vKioYZRI';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/8906c8ab-3dcd-4245-999c-0f81c02bcb41/chronicledisp-light.woff') format('woff');
}